on:
  pull_request:
    branches:
      - main

name: Dry run build

jobs:
  build:
    name: Dry run build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'

      - name: Run a build
        run: |
          npm install
          npm run build-prod
